@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-dropdown-menu {
  background-color: #f5f5f5 !important;
  border-radius: 8px;
  padding: 10px;
  color: red;
}

.productDetailModal {
  .ant-modal-content {
    border-radius: 8px;
    padding: 0px;
  }
}

.ant-table-thead > tr > th {
  background-color: #F2F4F5 !important;
  color: #475156 !important;
  font-weight: 400;
  text-align: center;  
}

